<form [formGroup]="myForm" (ngSubmit)="submitForm()">

    <label for="name">Nome:</label>
    <input formControlName="name" id="name" type="text">

    <label for="surname">Cognome:</label>
    <input formControlName="surname" id="surname"  type="text">

    <label for="mail">Mail:</label>
    <input formControlName="mail" id="mail"  type="text">

    <label for="dateOfBirth">Data di Nascita:</label>
    <input formControlName="dateOfBirth" id="dateOfBirth"  type="date">

    <label for="placeOfBirth">Luogo di Nascita:</label>
    <input formControlName="placeOfBirth" id="placeOfBirth" type="text">


    <label for="taxcode">Codice Fiscale:</label>
    <input type="text" formControlName="taxcode" id="taxcode">

    <div class="add-address">
        <span>Indirizzi:</span>
        <button type="button" (click)="addAddress()">Aggiungi indirizzo</button>
    </div>

    <div formArrayName="addresses">
        @for (address of addresses.controls; let i = $index; track $index) {
            <div [formGroupName]="i">
                <label for="street">Indirizzo:</label>
                <input type="text" formControlName="street" id="street">
                <label for="city">Via</label>
                <input type="text" formControlName="street" id="street">
                <label for="city">Città</label>
                <input type="text" formControlName="city" id="city">
                

                <button type="button" (click)="removeAddress(i)">Rimuovi</button>
            </div>
        }
    </div>

    

<button type="submit">InviaBis</button>

    <!-- <button [disabled]=!myForm.valid type="submit">Invia</button> -->
</form>